package templates

templ About() {
	@Layout("About") {
		<div class="card lg:card-side bg-base-100 shadow-sm">
			<figure>
				<img
					src="http://localhost:8080/images/dark_side.jpg"
					alt="Album"
				/>
			</figure>
			<div class="card-body">
				<h2 class="card-title text-primary">Просмотр альбомов</h2>
				<p>Вы можете просматривать любимые альбомы и слушать их без потери качества</p>
			</div>
		</div>
	}
}
